@media (min-width: 766px){

	.flex_prod{
		display: flex;
		margin: 20px 0;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		
		}

	.flex_card{
		width: 50%;
		padding: 18px;
		}

	.prod_box_grid{
	width: 100%;
	}
	.grid_gal{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 250px;
		padding: 20px;
		grid-gap: 10px;
		width: 90%;
		margin: 0;
		}


	.gallery_item:nth-child(2){
		grid-row-start: span 2;
		}

	.gallery_item:nth-child(4){
		grid-column-start: span 2;
		}

	.gallery_item:nth-child(5){
		grid-row-start: span 2;
		}

	.gallery_item:nth-child(9){
		grid-column-start: span 2;
		}

	.gallery_item:nth-child(7){
		grid-row-start: span 2;
		}
}

@media (min-width: 1024px){

	.prod_box_grid{
	width: 100%;
	}
	.grid_gal{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 250px;
		padding: 20px;
		grid-gap: 10px;
		width: 90%;
		margin: 0;
		}

	.gallery_item:nth-child(4){
		grid-column-start: span 2;
		}

	.gallery_item:nth-child(5){
		grid-row-start: span 2;
		}

	.gallery_item:nth-child(9){
		grid-column-start: span 2;
		}

	.gallery_item:nth-child(2){
		grid-row-start: span 1;
		}

	.gallery_item:nth-child(7){
		grid-row-start: span 1;
		}

	.flex_in{
	 	display: flex;
	 	flex-direction: row;
	 	justify-content: space-evenly;
	 	}

	.galeria_flex{
		display: flex;
		margin: 20px 0;
		flex-direction: column;
		align-items: center;
		justify-content: space-between
		}

	.flex_prod{
		display: flex;
		margin: 20px 0;
		flex-direction: row;
		align-items: center;
		justify-content: space-between
		}

	.flex_card{
		width: 25%;
		padding: 18px;
		}
	.icon_log{
		width: 105px;
		}

}