// vars globales


// Colores
$main_color:darkred;
$back_color:rgba(205, 92, 92, 0.8);
$text_color:#404040;
$txtbk:black;
$backColor-W:#D8D8D8;


//Size

$w-20:20%;
$w-25:25%;
$w-50:50%;
$w-75:75%;
$w-100:100%;


